@model KnowIt.Models.Equipment.EquipmentDetail

@{
    ViewBag.Title = "Delete";
}

<div class="panel transparent" style="overflow:hidden">
    <div class="tablespace">
        <h2>Delete</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-actions no-color">
                <input type="submit" value="Delete" class="btn btn-default" /> |
                @Html.ActionLink("Back to List", "Index")
            </div>
        }
        <hr />
        <div class="panel panel-body panel-info">
            <dl class="dl-horizontal">
                <dt>
                    Equipment Name:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EquipmentName)
                </dd>
                <br />
                <dt>
                    Equipment Note:
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EquipmentNote)
                </dd>
            </dl>
        </div>
    </div>
</div>
