@{
    ViewBag.Title = "About";
}
    <div class="panel panelsize transparent" style="overflow:hidden">
        <div class="tablespace">
            <h2><b>Utilizing KnowIt</b></h2>
            <hr />
            <div class="row">
                <div class="panel panel-body panel-info">
                    <div class="col-md-4">
                        <h2>Version 1.0</h2>
                        <p>With this being the first version of application of its kind, many improvements are on the way.Please send in ideas on improvement by sending an email.</p>
                    </div>
                    <div class="col-md-4">
                        <h2>Getting started</h2>
                        <p>
                            KnowIt has five sections. First you must create a physician within the Physician page, then follow suit with Procedure, Equipment, and Medication. It is a little work at the beginning, but magic occurs at the Preference page where you can store physician preferences for procedures with what medications and equipment you will need.
                        </p>
                    </div>
                    <div class="col-md-4">
                        <h2>Contact</h2>
                        <p>
                            <address>
                                <strong>Support:</strong>   <a href="mailto:lawrencewagner77@gmail.com">lawrencewagner77@gmail.com</a><br />
                                <strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/lwagner007/">Lawrence Wagner</a><br />
                                <strong>Github:</strong> <a href="https://github.com/lwagn007">Projects</a><br />
                            </address>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>