@{
    ViewBag.Title = "About";
}
<div class="container textbox">
    <h2>Utilizing KnowIt</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                KnowIt is broken down into five usable sections. First you must create a physician within the Physician page, then follow suit with Procedure, Equipment, and Medication. It is a little work at the beginning, but the magic occurs at the Physician Preference page where you can store Physician preferences for procedures with what medications and equipment you will need.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Version 1.0</h2>
            <p>With this being the first version of application of its kind, many improvements are on the way.Please send in ideas on improvement by contacting us. Please contact us.</p>
        </div>
        <div class="col-md-4">
            <h2>Contact</h2>
            <p>
                <address>
                    <strong>Support:</strong>   <a href="mailto:lawrencewagner77@gmail.com">lawrencewagner77@gmail.com</a><br />
                    <strong>Marketing:</strong> <a href="mailto:lawrencewagner77@gmail.com">lawrencewagner77@gmail.com</a><br />
                    <strong>Who to give your money to: Lawrence Wagner</strong>
                    <address>
                        Send Cash My Way Drive<br />
                        AllCurrency, NC, USA 43770<br />
                    </address>
                </address>
            </p>
        </div>
    </div>
</div>