@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>KnowIt</h1>
    <p class="lead">KnowIT is a free resource for hospital procedure areas to promote organization within the day to day chaos. Know and store your physician preferences and access them anywhere.</p>
</div>
