@{
    ViewBag.Title = "Home Page";
}
        <div class="panel panelsize" style="overflow:hidden">
            <div class="tablespace">
                <h1><b>KnowIt</b></h1>
                <hr />
                <div class="panel panel-body panel-info text">
                    <p class="lead">KnowIT is a resource for hospital procedure areas to promote organization within the day to day chaos. Know and store your physician preferences and access them anywhere. To learn how to use KnowIt click <u>@Html.ActionLink("HERE", "About", "Home")</u>.</p>
                    <hr />
                    <h4>Quick Resources:</h4>
                    <div class="text-center container col-md-12">
                        <div class="col-md-4">
                            <p>
                                Be In the Know: Cath Lab Digest
                            </p>
                            <a href="https://www.cathlabdigest.com/">
                                <span class="fa fa-book fa-4x" style="color:#010101"></span>
                            </a>
                        </div>
                        <div class="col-md-4">
                            <p>
                                Be In the Know: EP Lab Digest
                            </p>
                            <a href="https://www.eplabdigest.com/">
                                <span class="fa fa-book fa-4x" style="color:#010101"></span>
                            </a>
                        </div>
                        <div class="text-center col-md-4">
                            <p>
                                Free Drug Reference:
                            </p>
                            <a href="https://guides.ucsf.edu/c.php?g=100967&p=885070">
                                <span class="fa fa-archive fa-4x" style="color:#010101"></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>