body {
    background-image: url(assets/aerial-aerial-view-application-935869.jpg);
    background-position: center;
    padding-top: 50px;
    overflow: hidden auto;
    font-family: Arial;
}

div {
    border-radius: 5px;
}

.text {
    text-align: center;
}

.navbar {
    background: #FFFFFF;
}

.transparent {
    background: rgba(255,255,255, 0.8);
}

.iconsize{
    height: 56px;
    width: 56px;
}

.panelsize {
    height: 100%;
    margin: auto;
    border-radius: 5px;
    overflow: hidden auto;
}

.panel-body {
    background: rgba(122,164,180, 0.95);
}

.tablespace {
    width: 75%;
    height: 100%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
    padding-left: 15px;
    padding-right: 15px;
}

input,
select,
textarea {
    max-width: 280px;
}

footer {
    color: black;
}
